<div>
    <h2>{{FormattedID}}: {{Name}}</h2>
    <table class="table table-striped">
        <thead>
            <th>Formatted ID</th>
            <th>Name</th>
            <th>State</th>
        </thead>
        <tbody>
            <tr>
                <td>{{FormattedID}}</td>
                <td>{{Name}}</td>
                <td>{{ScheduleState}}</td>
            </tr>
        </tbody>
    </ul>
</div>