<div class="discussion-item">
    {{#if showItemArtifact}}
    <div class="artifact">
        <a class="artifact-link" href="/{{typeForDetailLink Artifact._type}}/{{objectIDFromRef Artifact._ref}}">{{Artifact.FormattedID}}</a>
        {{Artifact._refObjectName}}
    </div>
    {{/if}}
    <div class="profile-image">
    	<img src="{{profileImageUrl User._ref 80}}"/>
    </div>
    <div class="details">
    	<div class="status">
    		<span class="profile-link"><span>{{User._refObjectName}}</span></span>
    		{{createdAt _CreatedAt}}
    	</div>
    	<div class="detail-text">{{{Text}}}</div>
    </div>
</div>
