<h4 class="text-center">Choose columns to display</h4>
<dl class="dl-horizontal">
    <dt>Field</dt>
    <dd>{{fieldName}}</dd>
    <dt>Project</dt>
    <dd>{{projectName}}</dd>
</dl>
<div class="row board-columns">
    <div class="col-xs-12 listing">
        <div class="list-group">
            {{#each columns}}
            <div class="list-group-item">
                <div class="row board-column" data-target="{{this.StringValue}}">
                    <div class="col-xs-1 selection-icon">{{#if this.showing}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-11">{{this.StringValue}}</div>
                </div>
            </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>