<div class="container">
<form class="form-horizontal settings" role="form">
    <div class="form-group project">
        <label class="col-xs-4 choose-project">Project:</label>
        <div class="col-xs-8">
            <select class="form-control project-select">
                {{#each projects}}
                    {{{selectOption attributes._ref attributes._refObjectName ../currentProject}}}
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group iteration">
        <label class="col-xs-4 choose-iteration">Iteration:</label>
        <div class="col-xs-8">
            <select class="form-control iteration-select">
                <option value="null"{{#if noCurrentIteration}} selected="selected"{{/if}}>None</option>
                {{#each iterations}}
                    {{{selectOption attributes._ref attributes._refObjectName ../currentIteration}}}
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group scope">
        <label class="col-xs-4 show-work">Show:</label>
        <div class="col-xs-8 list-group">
            <div class="list-group-item self">
                <div class="row">
                    <div class="col-xs-1 selection-icon">{{#if isSelf}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-11">My Work</div>
                </div>
            </div>
            <div class="list-group-item team">
                <div class="row">
                    <div class="col-xs-1 selection-icon">{{#if isTeam}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-11">My Team</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group board-column">
        <label class="col-xs-4 board-field">Board Column:</label>
        <div class="col-xs-8 list-group">
            <div class="list-group-item schedule-state">
                <div class="row">
                    <div class="col-xs-1 selection-icon">{{#if isScheduleState}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-10">Schedule State</div>
                    <div class="col-xs-1 chevron"><i class="icon-chevron-right"></i></div>
                </div>
            </div>
            <div class="list-group-item kanban-state">
                <div class="row">
                    <div class="col-xs-1 selection-icon">{{#if isKanbanState}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-10">Kanban State</div>
                    <div class="col-xs-1 chevron"><i class="icon-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4"></div>
        <div class="col-xs-8 logout">
            <button class="btn btn-primary">Logout</button>
        </div>
    </div>
</form>
</div>