<div class="container">
<form class="settings" role="form">
    <div class="form-group project">
        <label class="control-label choose-project">Project</label>
        <select class="form-control project-select">
            {{#each projects}}
                {{{selectOption attributes._ref attributes._refObjectName ../currentProject}}}
            {{/each}}
        </select>
    </div>
    <div class="form-group iteration">
        <label class="control-label choose-iteration">Iteration</label>
        <select class="form-control iteration-select">
            <option value="null"{{#if noCurrentIteration}} selected="selected"{{/if}}>None</option>
            {{#each iterations}}
                {{{selectOption attributes._ref attributes._refObjectName ../currentIteration}}}
            {{/each}}
        </select>
    </div>
    <div class="form-group scope listing">
        <label class="control-label show-work">Show</label>
        <div class="list-group">
            <div class="list-group-item self">
                <div class="row">
                    <div class="col-xs-1 selection-icon">{{#if isSelf}} <i class="picto icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-11">My Work</div>
                </div>
            </div>
            <div class="list-group-item team">
                <div class="row">
                    <div class="col-xs-1 selection-icon">{{#if isTeam}} <i class="picto icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-11">My Team</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group board-column listing">
        <label class="control-label board-field">Board Column</label>
        <div class="list-group">
            <div class="list-group-item schedule-state">
                <div class="row">
                    <div class="col-xs-1 selection-icon">{{#if isScheduleState}} <i class="picto icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-10">Schedule State</div>
                    <div class="col-xs-1 chevron"><i class="picto icon-chevron-right"></i></div>
                </div>
            </div>
            <div class="list-group-item kanban-state">
                <div class="row">
                    <div class="col-xs-1 selection-icon">{{#if isKanbanState}} <i class="picto icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                    <div class="col-xs-10">Kanban State</div>
                    <div class="col-xs-1 chevron"><i class="picto icon-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="logout">
        <button class="btn btn-default">Logout</button>
    </div>
</form>
</div>