<div class="settings">
    <div class="row-fluid project">
        <div class="span4">
            <label class="choose-project">Project:</label>
        </div>
        <div class="span8 btn-group btn-group-vertical">
            <select class="project-select btn btn-block">
                {{#each projects}}
                    {{{selectOption attributes._ref attributes._refObjectName ../currentProject}}}
                {{/each}}
            </select>
        </div>
    </div>
    <div class="row-fluid iteration">
        <div class="span4">
            <label class="choose-iteration">Iteration:</label>
        </div>
        <div class="span8 btn-group btn-group-vertical">
            <select class="iteration-select btn btn-block">
                <option value="null"{{#if noCurrentIteration}} selected="selected"{{/if}}>None</option>
                {{#each iterations}}
                    {{{selectOption attributes._ref attributes._refObjectName ../currentIteration}}}
                {{/each}}
            </select>
        </div>
    </div>
    <div class="row-fluid scope">
        <div class="span4">
            <label class="show-work">Show:</label>
        </div>
        <div class="span8 listing">
            <div class="btn-group btn-group-vertical">
                <div>
                    <button class="btn btn-block self">
                        <div class="span1 selection-icon">{{#if isSelf}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                        <div class="span11">My Work</div>
                    </button>
                </div>
                <div>
                    <button class="btn btn-block team">
                        <div class="span1 selection-icon">{{#if isTeam}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                        <div class="span11">My Team</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid board-column">
        <div class="span4">
            <label class="board-field">Board Column:</label>
        </div>
        <div class="span8 listing">
            <div class="btn-group btn-group-vertical">
                <div>
                    <button class="btn btn-block schedule-state">
                        <div class="span1 selection-icon">{{#if isScheduleState}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                        <div class="span10">Schedule State</div>
                        <div class="span1 chevron"><i class="icon-chevron-right"></i></div>
                    </button>
                </div>
                <div>
                    <button class="btn btn-block kanban-state">
                        <div class="span1 selection-icon">{{#if isKanbanState}} <i class="icon-ok"/>{{else}}&nbsp;{{/if}}</div>
                        <div class="span10">Kanban State</div>
                        <div class="span1 chevron"><i class="icon-chevron-right"></i></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <button class="btn active logout">Logout</button>
        </div>
    </div>
</div>