<div class="row-fluid home-view-wrap">
    <div class="btn-group btn-group-vertical">
        {{#each tasks}}
            <button class="btn btn-block" id="task/{{this.ObjectID}}">
                <div class="span2 formatted-id">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class={{state this.Blocked this.Ready}}></div>
                        </div>
                        <div class="span8">{{this.FormattedID}}</div>
                    </div>
                </div>
                <div class="span7 workitem-name">{{this.Name}}</div>
                <div class="span2">
                    <div>
                        <div class="span5 task-clock"></div>
                        <div class="span7 task-to-do">{{this.ToDo}}</div>
                    </div>
                </div>
                <div class="span1 chevron"></div>
            </button>
        {{/each}}
    </div>
</div>