<div id="home-view">
  {{#if iteration}}
  <div class="iteration-header">
    <dl class="dl-horizontal">
      <dt>Iteration:</dt>
      <dd class="">{{iteration.Name}}</dd>
      <dd class="">{{date iteration.StartDate}} - {{date iteration.EndDate}}</dd>
    </dl>
  </div>
  {{/if}}
  <div id="home-view-navigation">
    <ul class="type nav nav-pills nav-justified">
      {{#each tabs}}
      <li{{#if this.active}} class="active"{{/if}}>
        <a href="/{{this.key}}" id="{{this.key}}-tab">
          {{this.value}}
        </a>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="listing"/>

  <ul class="type nav nav-pills nav-justified">
    <li class="active">
      <a href="{{createRoute}}" id="add-artifact"><i class="icon-plus"/></a>
    </li>
  </ul>
</div>