<div id="home-view">
  <div id="home-view-navigation">
    <ul class="nav btn-group">
      {{#each tabs}}
      <li class="btn{{#if this.active}} active{{/if}}" id="{{this.key}}-tab">
        <a href="{{this.key}}" id="{{this.key}}" data-toggle="pill">
          {{this.value}}
        </a>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="tab-content">
      <div class="row-fluid listing"/>
  </div>

  <div class='bottom-centered'>
    <a href="{{createRoute}}" class='btn active' id='add-artifact'>+</a>
  </div>
</div>