<button class="btn btn-block" id="task/{{task.ObjectID}}">
    <div class="span2 formatted-id">
        <div class="row-fluid">
            <div class="span4">
                <div class={{state task.Blocked task.Ready}}></div>
            </div>
            <div class="span8">{{task.FormattedID}}</div>
        </div>
    </div>
    <div class="span7 workitem-name">{{task.Name}}</div>
    <div class="span2">
        <div>
            <div class="span5 task-clock"></div>
            <div class="span7 task-to-do">{{task.ToDo}}</div>
        </div>
    </div>
    <div class="span1 chevron"></div>
</button>
