<div class="row" id="{{ObjectID}}">
    <div class="col-xs-9 item">
        <div class="{{state Blocked Ready}}"></div>
        <div class="item-id-name">
            <a class="formatted-id">{{FormattedID}}</a>
            <div class="workitem-name">{{Name}}</div>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="row">
            <div class="col-xs-5 picto icon-to-do"></div>
            <div class="col-xs-7 task-to-do">{{ToDo}}</div>
        </div>
    </div>
    <div class="col-xs-1 chevron"><i class="picto icon-chevron-right"></i></div>
</div>