{{#if iteration}}
  <div class="iteration-header">
    <dl class="dl-horizontal">
      <dt>Iteration:</dt>
      <dd class="name">{{iteration.Name}}</dd>
      <dd class="dates">{{date iteration.StartDate}} - {{date iteration.EndDate}}</dd>
    </dl>
  </div>
{{/if}}
<div class="column">
    <div class="header">
        {{#if canGoLeft}}<i class="go-left icon-chevron-left"></i>{{/if}}
        {{header}}
        {{#if canGoRight}}<i class="go-right icon-chevron-right"></i>{{/if}}
    </div>
    <div class="body">
        {{#each cards}}
        	<div class="card{{#if this.Blocked}} blocked{{/if}}{{#if this.Ready}} ready{{/if}}{{#if this.DisplayColor}} colored{{/if}}{{#if ../showFields}} full{{/if}}" id="{{this.ObjectID}}-{{this._type}}"{{#if this.DisplayColor}} style="background-color: {{this.DisplayColor}}; color: white;"{{/if}}>
        		<div class="field formatted-id">{{this.FormattedID}}</div>
        		{{#if ../showFields}}
        		<div class="field owner">
        			{{#if this.Owner}}
	        			<div class="owner-name">
        					{{this.Owner._refObjectName}}
        				</div>
        				<div class="profile-image" style="background-image: url({{profileImageUrl this.Owner._ref 50}});"/>
        			{{else}}
        				<div class="owner-name">
        					No owner
        				</div>
        				<div class="profile-image no-owner"/>
        			{{/if}}
        		</div>
        		<div class="clear"/>
        		<div class="field name">{{this.Name}}</div>
        		{{/if}}
        	</div>
        {{/each}}
    </div>
</div>